---
import { type CollectionEntry } from "astro:content";
import Layout from "./Base.astro";
import { formatDateIso, formatPostDate, getPostDate } from "../utils/utils";

export type Props = {
	title: string;
    posts: CollectionEntry<'posts'>[],
    categories: CollectionEntry<'categories'>[]
};

const { title, posts, categories } = Astro.props;
---

<Layout>
	<h1 class="pattern">
		<span class="guttered">
			{title}
		</span>
	</h1>
	<p class="guttered post-description">
		<slot name="description" />
	</p>
	<div class="with-sidebar guttered">
		<div class="posts">
			<h2>Latest Posts</h2>
			<ul class="post-cards-list">
				{
					posts.map((p) => (
						<li class="post-card">
							<article>
								<time
									class="dateline"
									datetime={formatDateIso(getPostDate(p))}
								>
									{formatPostDate(getPostDate(p))}
								</time>
								<h3>
									<a href={p.slug}>{p.data.title}</a>
								</h3>
								<p>{p.data.description}</p>
							</article>
						</li>
					))
				}
			</ul>
			<p><a href="/posts/">All Posts</a></p>
		</div>
		<div class="sidebar">
			<h2>Collections</h2>
			<div class="collections">
				{
					categories.map((c) => (
						<div class="collection">
							<h3 class:list={["pattern", `pattern-${c.data.slug}`]}>
								<a href={`/posts/${c.data.slug}`}>{c.data.title}</a>
							</h3>
							<p>{c.data.description}</p>
						</div>
					))
				}
			</div>
		</div>
	</div>
</Layout>
