---
import { getCollection } from "astro:content";
import Layout from "../layouts/Base.astro";
import metadata from "../content/_metadata";
import PostList from "../components/PostList.astro";
import EmailForm from "../components/EmailForm.astro";
import PostDescription from "../components/PostDescription.astro";
import combineDescriptionItems from "../utils/combineDescriptionItems";
import filterOutDraftsIfProduction from "../utils/filterOutDraftsIfProduction";
import firstFive from "../utils/firstFive";
import labelDrafts from "../utils/labelDrafts";
import renderInlineMarkdown from "../utils/renderInlineMarkdown";
import sortByDate from "../utils/sortByDate";

const { title, descriptionItems } = metadata;

const description = combineDescriptionItems(descriptionItems);

const allPosts = await getCollection("posts");

const posts = labelDrafts(
    firstFive(filterOutDraftsIfProduction(sortByDate(allPosts))),
);

const categories = await getCollection("categories");
---

<Layout title={title} description={description} ogImagePath="/home">
    <h1 class="u-pattern">
        <span class="u-guttered">
            {title}
        </span>
    </h1>
    <PostDescription class="u-guttered" description={description} />
    <div class="l-sidebar u-guttered">
        <div class="posts">
            <h2>Latest Posts</h2>
            <PostList posts={posts} />
            <p><a href="/posts/2">Older posts →</a></p>
        </div>
        <div class="sidebar">
            <h2>Collections</h2>
            <div class="collections">
                {
                    categories.map((c) => (
                        <div class="collection">
                            <h3 class:list={["u-pattern", `u-pattern-${c.id}`]}>
                                <a href={`/posts/${c.id}/1`}>{c.data.title}</a>
                            </h3>
                            <p
                                set:html={renderInlineMarkdown(
                                    c.data.description,
                                )}
                            />
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
    <!-- <hr>
	<div class="l-sidebar u-guttered email-form-container">
		<div>
			<h2>Get new posts in your inbox</h2>
			<p class="email-blurb">
				Typically 1 or 2 posts a month. Never more than one post per day.
			</p>
			<small class="email-disclaimer">No spam. Unsubscribe at any time.</small>
		</div>
		<EmailForm class="sidebar email-form"/>
	</div> -->
</Layout>
<style lang="scss">
    :root {
        --u-guttered-content-width: 60rem;
    }
    main {
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    h2 {
        margin-bottom: 1rem;
    }
    .collection {
        margin-bottom: 1.5rem;
        & h3 {
            padding-top: 0;
            padding-bottom: 0;
            & a {
                text-decoration: none;
                display: block;
                padding: 1rem;
                font-size: 1.5em;
                color: inherit;
            }
        }
        & p {
            margin-top: 0.5rem;
        }
    }
    .email-form-container {
        margin-bottom: 5rem;
    }
    .email-form {
        margin-top: 1rem;
    }
    .email-blurb {
        margin-bottom: 0.2em;
    }
    .email-disclaimer {
        color: var(--color-gray-11);
    }
</style>
