---
import getLinkDate from "@utils/getLinkDate";
import type { CollectionEntry } from "astro:content";
import formatPostDate from "../utils/formatPostDate";

export type Props = {
    link: CollectionEntry<"links">;
};

const { link } = Astro.props;

const { Content } = await link.render();
const l = link;
---

<article class="link-card">
    <hgroup>
        <p class="u-slub">{new URL(l.data.link).host}</p>
        <h2>
            <a href={l.data.link}>{l.data.title}</a>
        </h2>
    </hgroup>
    <Content />
    <p class="date u-slub">
        <a href={`/links/${l.slug}`}>
            <time datetime={getLinkDate(l.slug).toISOString()}>
                {formatPostDate(getLinkDate(l.slug))}
            </time>
        </a>
    </p>
</article>

<style lang="scss">
    .u-slub {
        line-height: 1.4em;
    }
    .date a:any-link {
        color: inherit;
        text-decoration-color: var(--color-gray-9);
    }
    .link-card {
        :global(p) {
            margin-block: 0.5rem;
        }
    }
    h2 {
        margin-block: 0.8rem;
    }
</style>
