---
import getLinkDate from "@utils/getLinkDate";
import type { CollectionEntry } from "astro:content";
import formatPostDate from "../utils/formatPostDate";
import getLinkSlug from "@utils/getLinkSlug";
import getCommentCount from "@utils/getCommentCount";

export type Props = {
    link: CollectionEntry<"links">;
    useH1?: boolean;
};

const { link, useH1 = false } = Astro.props;

const { Content } = await link.render();
const l = link;
const Tag = useH1 ? "h1" : "h2";

const permalink = `/links/${getLinkSlug(l)}`;
---

<article class="link-card">
    <hgroup>
        <p class="u-slub">{new URL(l.data.link).host}</p>
        <Tag class="h2">
            <a href={l.data.link} rel="noopener noreferrer">{l.data.title}</a>
        </Tag>
    </hgroup>
    <Content />
    <p class="date u-slub">
        <a href={permalink}>
            <time datetime={getLinkDate(l.slug).toISOString()}>
                {formatPostDate(getLinkDate(l.slug))}
            </time>
        </a> &middot;{" "}
        <a href={permalink + "#comments"}>
            {getCommentCount(permalink)} comments
        </a>
    </p>
</article>

<style lang="scss">
    .u-slub {
        line-height: 1.4em;
    }
    .date a:any-link {
        color: inherit;
        text-decoration-color: var(--color-gray-9);
    }
    .link-card {
        :global(p) {
            margin-block: 0.5rem;
        }
    }
    .h2 {
        margin-block: 0.8rem;
    }
</style>
