---
import type { CollectionEntry } from "astro:content";
import renderInlineMarkdown from "../utils/renderInlineMarkdown";
import formatPostDate from "../utils/formatPostDate";
import getPostDate from "../utils/getPostDate";

export type Props = {
    post: CollectionEntry<"posts">;
};

const { post } = Astro.props;
---

<article class="post-card">
    <p class="u-slub">
        <time datetime={getPostDate(post).toISOString()}>
            {formatPostDate(getPostDate(post))}
        </time>
        {post.data.externalLink && (<>&mdash; {new URL(post.data.externalLink).host}</>)}
    </p>
    <h3>
        <a href={post.data.externalLink || `/posts/${post.slug}`}>{post.data.title}</a>
    </h3>
    <p set:html={renderInlineMarkdown(post.data.description)} />
</article>
<style lang="scss">
    .post-card {
        &:first-of-type {
            margin-top: 0;
        }
        & h3 {
            margin-top: 0.2rem;
            margin-bottom: 0;
        }
        & p {
            margin-top: 0.2rem;
        }
    }
</style>
