---
import SiteFooter from "@components/SiteFooter.astro";
import SiteNavHeader from "@components/SiteNavHeader.astro";
import metadata from "@content/_metadata";
import "@fontsource-variable/faustina";
import "@fontsource-variable/figtree";
import "@styles/_style.scss";
import type { CollectionEntry } from "astro:content";
import unMarkdown from "lib/unMarkdown";

export type Props = {
    title: string;
    description: string;
    ogImagePath: string;
    category?: CollectionEntry<"categories">;
};

const defaultTitle = metadata.title;

const {
    title,
    description: descriptionRaw,
    ogImagePath: ogImagePathRaw,
    category,
} = Astro.props;

const titleFull =
    title && title !== defaultTitle
        ? `${title} - ${defaultTitle}`
        : defaultTitle;

const ogImagePath = `/og-images${ogImagePathRaw}.png`;

const description = unMarkdown(descriptionRaw);

const isLinksPage = Astro.url.pathname.startsWith("/links");
---

<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {
            import.meta.env.MODE === "production" && (
                <meta
                    http-equiv="Content-Security-Policy"
                    content="default-src 'self'; connect-src 'self' https://cloudflareinsights.com/cdn-cgi/rum https://go.jamcomments.com; script-src 'self' 'unsafe-inline' https://static.cloudflareinsights.com https://go.jamcomments.com; style-src 'self' 'unsafe-inline'  https://go.jamcomments.com; img-src 'self' data:;"
                />
            )
        }
        <meta name="generator" content={Astro.generator} />
        {description && <meta name="description" content={description} />}
        <link rel="canonical" href={Astro.url} />
        {
            isLinksPage ? (
                <>
                    <link
                        rel="alternate"
                        type="application/rss+xml"
                        title={"Tyler Mercer - Links"}
                        href={`${Astro.site}feeds/links.xml`}
                    />
                    <link
                        rel="alternate"
                        type="application/json"
                        title={"Tyler Mercer - Links"}
                        href={`${Astro.site}feeds/links.json`}
                    />
                </>
            ) : (
                <>
                    <link
                        rel="alternate"
                        type="application/rss+xml"
                        title={defaultTitle}
                        href={`${Astro.site}feeds/feed.xml`}
                    />
                    <link
                        rel="alternate"
                        type="application/json"
                        title={defaultTitle}
                        href={`${Astro.site}feeds/feed.json`}
                    />
                </>
            )
        }
        <title>{titleFull}</title>
        <!-- Icons -->
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link rel="icon" href="/favicon.svg" />
        <meta property="og:image" content={ogImagePath} />
        <meta name="twitter:image" content={ogImagePath} />
        <meta property="og:title" content={titleFull} />
        <meta property="og:type" content="article" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:locale" content="en" />
        <meta property="og:image:alt" content={description} />
        <meta property="og:site_name" content={defaultTitle} />
        <meta property="og:description" content={description} />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content={metadata.twitter} />
        <meta name="twitter:title" content={titleFull} />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:image:alt" content={titleFull} />
        <!-- Tags -->
        <link rel="manifest" href="/site.webmanifest" />
    </head>
    <body>
        <SiteNavHeader category={category} />
        <main id="main">
            <slot />
        </main>
        <SiteFooter />
        <script
            defer
            src="/beacon.min.js"
            data-cf-beacon='{"token": "6a72187972844110ba59868a8dca8e54"}'
        ></script>
    </body>
</html>
<script>
    import cleanPageUrl from "lib/cleanPageUrl";
    import logCommitHash from "lib/logCommitHash";
    cleanPageUrl();
    logCommitHash();

    document.addEventListener("DOMContentLoaded", () => {
        const footnotesSection = document.querySelector(
            "section[data-footnotes]",
        );
        if (footnotesSection) {
            footnotesSection.setAttribute("aria-label", "Footnotes");

            const details = document.createElement("details");

            const summary = document.createElement("summary");

            summary.textContent = "Footnotes";

            while (footnotesSection.firstChild) {
                details.appendChild(footnotesSection.firstChild);
            }

            details.insertBefore(summary, details.firstChild);

            footnotesSection.appendChild(details);
        }

        // Focus the comment box
        if (window.location.hash === "#comments") {
            requestAnimationFrame(() => {
                (
                    document.querySelector(
                        "label.jc-CommentBox-label > textarea",
                    ) as HTMLTextAreaElement | null
                )?.focus();
            });
        }
    });
</script>
