---
import Layout from './Page.astro';
import type { CollectionEntry } from 'astro:content';
import PostList from '../components/PostList.astro';

export type Props = {
    category: CollectionEntry<'categories'>,
    paginatedPosts: CollectionEntry<'posts'>[],
    nextPageUrl: string,
    previousPageUrl: string,
    ogImagePath?: string,
}

const { category, nextPageUrl, previousPageUrl, paginatedPosts, ogImagePath: ogImagePathRaw } = Astro.props;

const ogImagePath = ogImagePathRaw ?? `/categories/${category.id}`;
---
<Layout title={category.data.title} description={category.data.description} category={category} ogImagePath={ogImagePath}>
    <PostList posts={paginatedPosts}/>
    {(previousPageUrl || nextPageUrl) ? (
        <nav aria-label="Navigation" class="links-next-prev">
            {previousPageUrl && <a href={previousPageUrl}>← Newer posts</a>}
            {(previousPageUrl && nextPageUrl) && <span>|</span>}
            {nextPageUrl && <a href={nextPageUrl}>Older posts →</a>}
        </nav>
    ) : (
        <div class="links-next-prev empty">
            No more posts to show
        </div>
    )}
</Layout>
