---
import { type CollectionEntry } from 'astro:content';
import Layout from './Base.astro';
import MungedEmail from '../components/MungedEmail.astro';
import ShareLinks from '../components/ShareLinks.astro';
import { countWords, getPostDate, type WithNextAndPrev } from '../utils/utils';

export type Props = {
    post: WithNextAndPrev<CollectionEntry<'posts'>>;
    category?: CollectionEntry<'categories'>;
}

const READING_RATE = 235;

const { post: postWithNextAndPrev, category } = Astro.props;

const { item: post, next: nextPost, prev: previousPost } = postWithNextAndPrev;

const url = Astro.url;

const date = getPostDate(post);

const patternClass = category ? `pattern-${category.data.slug}` : '';

const wordCount = countWords(post.body);
const readingTime = Math.round(wordCount / 235) || 1;
const dropCaps = post.data.dropCaps || false;
---

<Layout title={post.data.title} description={post.data.description}>
    <h1 class:list={[ 'pattern', patternClass ]}>
        <span class="guttered">{post.data.title}</span>
    </h1>
    <div class="guttered">
        {post.data.description &&
            <p class="post-description">
                {post.data.description}
            </p>
        }
        <p class="dateline">
            <time datetime={date.toISOString()}>{date.toLocaleDateString()}</time>
            {category && 
                <span> in <a href={`/posts/${category.data.slug}`}>{ category.data.title }</a></span>
            }
            <span> &mdash; </span>
            {wordCount} words &mdash; {readingTime} min read
        </p>
        <div class:list={{'article-content': true, 'drop-caps' : dropCaps}}>
            <slot></slot>
            <div class="reply-and-share">
                <MungedEmail label='Reply via email'/>
                <ShareLinks url={url} title={post.data.title}/>
            </div>
        </div>
    </div>
    <ul class="links-next-prev">
        {previousPost && <li>Previous: <a href={ `/posts/${previousPost.slug}` }>{ previousPost.data.title }</a></li>}
        {(nextPost && previousPost) && <span>|</span>}
        {nextPost && <li>Next: <a href={ `/posts/${nextPost.slug}` }>{ nextPost.data.title }</a></li>}
    </ul>
</div>
</Layout>